/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Cormorant+Unicase&family=Macondo+Swash+Caps&family=MedievalSharp&family=Modern+Antiqua&family=Nova+Cut&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  h1 {
    @apply font-unicase;
    @apply tracking-widest;
    @apply font-bold
  }

  
}

body {
  margin: 0;
  font-family: 'Cormorant Infant', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #75cccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-content {
  height: 75vh;
  background-image: url('./assets/stock_images/parchment.jpg');
  background-size: cover;
  background-repeat: none;
}
.modal-content2 {
  height: 75vh;
  background-image: url('./assets/stock_images/parchment.jpg');
  background-size: cover;
  background-repeat: none;
  opacity: 75;
}

nav a {
  text-decoration: none;
}

.nav-tab {
  background-color: #2f3e46;
}

.nav-tab:active, .nav-tab:hover {
  background-color: #75cccc;
}

.nav-a {
  color: white;
}

.nav-a:active, .nav-a:hover {
  color: #2f3e46;
}


.form {
  display: flex;
  justify-content: center;
}

.form-input {
  color: #2f3e46;
  width: 75%;
  text-align: center;
}

textarea {
  min-height:80px;
  max-height:200px;
  overflow:auto;
}

.form-btn {
  padding: .5rem;
  border-radius: 25px;
}

.form-btn:hover {
  color: white;
  background-color: #2f3e46;
}

/* #login {
z-index: 9999999 !important;

} */

@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }
  table td {
    display: flex;
  }
  
  table td::before {
    content: attr(aria-label);
    font-weight: bold;
    width: 10px;
  }
}
